<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
  <li>
    <a th:href="@{/variables/string/} + 'Hola Steven'">/variables/string/Hola Steven</a>
  </li>
  <li>
  <a th:href="@{/variables/string/} + 'Hola Steven' + '/' + 7">/variables/string/Hola Steven/7</a>
  </li>
  <li>
  <a th:href="@{/variables/string/} + ${titulo}">/variables/string/titulo</a>
  </li>
</ul>
</body>
</html>